.DS_Store
**/.DS_Store

node_modules/
dist/

.env
*.sqlite
*.db
data.sql
/face-recognition-door-lock/

__pycache__/
*.py[cod]

ai-model/models/face_embeddings.npz
ai-model/models/preprocessed_faces/
ai-model/dataset/authorized_users/*/
ai-model/dataset/test_images/*
!ai-model/dataset/test_images/README.md
!ai-model/dataset/test_images/.gitkeep
